<div class="admin-panel">

  <div class="admin-card">

    <div
      class="logo"
      (click)="navegaParaHome()">
    </div>

    <form
      *ngIf="!authenticated"
      (ngSubmit)="login()"
      class="login-form">

      <h2>Painel Administrativo</h2>

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Senha do administrador"
        required>

      <button type="submit">
        Entrar
      </button>

    </form>

    <div *ngIf="authenticated">

      <!-- Conteúdo -->

    </div>

  </div>

</div>
