:host {
  display: block;
}

.landing {
  min-height: 100vh;
  background-image: url('../../../assets/images/teste.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
}

.logo {
  min-height: calc(8vw + 1rem);
  background-image: url('../../../assets/images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.25vw;
}

.foto-casal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  img {
    width: calc(10vw + 1rem);
    height: calc(10vw + 1rem);
    border-radius: 50%;
    object-fit: cover;
    border: calc(0.25vw + 0.25rem) solid #5e6352;
    box-shadow:
      0 8px 24px rgb(64 75 51 / 0.18);
  }
}

.overlay {
  width: 100%;
  max-width: calc(45vw + 1rem);
  padding: 5vh;
  border-radius: 2vh;
  background: #fbf8f1;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, .18);
  text-align: center;
  color: white;
  animation: fadeIn .8s ease;
}

.tag {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: calc(1vh + .85rem);
  color: #ffe7b2;
  margin-bottom: 1.5vh;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
  color: #f8f5ed;
}

h1 span {
  color: #FFD369;
}

.divider {
  width: calc(8vw + 1rem);
  height: calc(.25vh + 1px);
  background: #FFD369;
  margin: 0.25vw auto;
}

.welcome {
  font-family: "Marcellus", serif;
  font-size: calc(1rem + 0.25vh);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #404b33;
}

.intro {
  font-family: "Source Sans 3", sans-serif;
  font-size: calc(0.75vh + 1rem);
  line-height: calc(0.75vh + 1.25rem);
  opacity: .95;
  margin-bottom: 3vh;
  color: #6d7161;
}

.gift-btn {
  background: #bbbdb0;
  color: #404b33;
  border: none;
  padding: 18px 40px;
  border-radius: 50px;
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
  transition: .25s;
}

.gift-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgb(64 75 51 / 0.75);
  background: #bbbdb0;
}

.admin-btn {
  position: absolute;
  top: calc(.25rem + 1vw);
  right: calc(.25rem + 1vw);
  background: #5e6352;
  border: 1px solid rgba(255, 255, 255, .3);
  color: #fbf8f1;
  font-weight: 600;
  padding: 1.25vh;
  border-radius: .5vw;
  cursor: pointer;
  backdrop-filter: blur(8px);
  transition: .2s;
}

.admin-btn:hover {
  background: rgb(94 99 82 / 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width: 768px) {
  .overlay {
    padding: 35px 25px;
  }
  h1 {
    font-size: 2.6rem;
  }
  .intro {
    font-size: 1rem;
  }
  .gift-btn {
    width: 100%;
  }
}

.info{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:40px;
  flex-wrap:wrap;
  color:#6d7161;
}

.text-1 {
  font-family: "Cinzel", serif;
  font-size: calc(1rem + 0.25vh);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  strong {
    color: #6d7161;
    font-size: calc(1rem + 0.25vh);
    font-weight: 600;
  }
}

.info div{
  display:flex;
  align-items:center;
  gap:8px;
  opacity:.9;

}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.venue {
  margin: 0;
  color: #6d7161;

  font-family: "Cinzel", serif;
  font-size: calc(1.25rem + 0.25vh);
  font-weight: 400;

  strong {
    font-weight: 600;
  }
}

.maps-button {
  margin-top: -0.25vh;
  font-size: calc(0.75rem + 0.25vh);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
  border-radius: 999px;
  color: #404b33;
  text-decoration: none;
  font-weight: 600;
  transition: .25s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 24px rgba(64, 75, 51, .25);
  }
}

