<div class="landing">

<!--  <button class="admin-btn" (click)="navegaPaginaAdmin()">
    Admin
  </button>-->

  <div class="overlay">

    <div class="logo"></div>

    <div class="foto-casal">
      <img
        src="assets/images/foto-casal.png"
        alt="Foto do casal">
    </div>

    <p class="welcome">
      Venha comemorar a nossa união 💍
    </p>


    <div>
      <div class="text-1">
        <span><strong>18 de Julho de 2026 | 12:00 (Meio-dia)</strong></span>
      </div>
    </div>

    <div class="location">
      <p class="venue">
        No <strong>Bangalô Aju</strong><br>
        <span style="font-size: calc(1rem + 0.25vh);">R.</span> Dois - Gameleira, Aracaju - SE, 49005-032

      </p>
      <a
        class="maps-button"
        href="https://www.google.com/maps/search/Bangal%C3%B4%20Aju/@-11.0591,-37.1088,17z?hl=pt-BR"
        target="_blank"
        rel="noopener noreferrer">
        📍 Clique aqui para saber como chegar
      </a>
    </div>

    <p class="intro">
      <strong>Traje: Esporte fino</strong>
    </p>

    <p class="intro">
      Estamos muito felizes em compartilhar esse momento especial com você.<br>
      Sua presença já é um presente, mas caso deseje nos presentear,
      preparamos uma lista com muito carinho.
    </p>

    <button
      class="gift-btn"
      (click)="navegaPaginaListaDePresentes()">
      🎁 Ver Lista de Presentes
    </button>

  </div>

</div>
