<div class="landing">

  <h1>Lista de Presentes do Casamento de Ana Paula e Rafael</h1>
  <p>Bem-vindo!</p>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  <h2>Escolha abaixo:</h2>

  <div class="buttons">
    <button routerLink="/gifts" class="btn gifts-btn">Ver Lista de Presentes</button>
    <button routerLink="/admin" class="btn admin-btn">Admin</button>
  </div>
</div>

<router-outlet></router-outlet>
