<div class="loading-overlay" *ngIf="loading">

  <div class="loader"></div>

  <span>
    Aguarde...
  </span>

</div>


<div class="gift-page">

  <div class="overlay">


    <div class="logo" (click)="navegaParaHome()"></div>


    <h1>
      Lista de Presentes
    </h1>

    <p class="subtitle">
      Caso deseje nos presentear, preparamos uma lista com algumas sugestões de presentes para facilitar a escolha, mas ela é apenas uma ideia. Se preferir presentear com outro item, fique totalmente à vontade!<br>
      Caso escolha um dos presentes da lista, clique em <strong>"Presentear"</strong> e depois em <strong>"Confirmar presente"</strong>. Assim, os outros convidados saberão que aquele item já foi escolhido.<br>
      A lista é apenas um registro simples de opções e escolhas, a compra do item não será feita por aqui.<br>
      Você pode entregar o presente quando for mais conveniente para você, seja pessoalmente ou no endereço abaixo:<br>
      <strong>--- Rua Vila Cristina, 92, apt 1001,  Condomínio Vila Borguese, Bairro São José, Aracaju/SE CEP 49015-000 ---</strong><br>
      Muito obrigado(a) pelo carinho e por fazer parte deste momento tão especial! Sua presença já é um grande presente para nós!
    </p>


    <div class="search">

      <input
        [(ngModel)]="search"
        placeholder="Buscar presente..."
      >

    </div>

    <div class="availability-toggle">

      <label class="switch">

        <input
          type="checkbox"
          [(ngModel)]="showOnlyAvailable">

        <span class="slider"></span>

      </label>

      <span>
        Mostrar somente presentes disponíveis
      </span>

    </div>


    <div class="gift-grid">


      <div
        class="gift-card"
        *ngFor="let gift of filteredGifts">

        <!--<img
          [src]="gift.image"
          [alt]="gift.name">-->

        <div class="image-wrapper">
          <!--<img class="blur" [src]="gift.image" alt="{{gift.name}}">-->
          <img class="main" [src]="gift.image" alt="{{gift.name}}">
        </div>

        <div class="content">


          <h2>
            {{ gift.name }}
          </h2>


          <p>
            {{ gift.description }}
          </p>

          <div class="progress" *ngIf="gift.reserved < gift.total">
            <div class="bar" [style.width.%]="(gift.reserved / gift.total) * 100"></div>
          </div>

          <small *ngIf="gift.reserved < gift.total">
            {{ gift.reserved }} de {{ gift.total }}
          </small>

          <div *ngIf="gift.reserved >= gift.total && !pendingReservations.has(gift.id)">
            <strong>Esse presente já foi escolhido ❤️</strong>
          </div>

          <button
            *ngIf="gift.reserved < gift.total && !pendingReservations.has(gift.id)"
            (click)="presentear(gift)">
            🎁 Escolher esse Presente
          </button>

          <strong
            *ngIf="pendingReservations.has(gift.id)"
            class="reserved-message">
            Escolha confirmada ❤️ Aguardaremos ansiosamente!
          </strong>


        </div>


      </div>


    </div>


  </div>

</div>

<div
  class="modal-backdrop"
  *ngIf="showModal"
  (click)="closeModal()">


  <div
    class="modal"
    (click)="$event.stopPropagation()">


    <button
      class="close"
      (click)="closeModal()">
      ×
    </button>


    <img
      *ngIf="selectedGift"
      [src]="selectedGift.image"
      [alt]="selectedGift.name">


    <h2>
      {{ selectedGift?.name }}
    </h2>


    <p>
      {{ selectedGift?.description }}
    </p>


    <p class="question">
      Deseja presentear este item?<br>
      ATENÇÃO! A compra será feita por você por fora do site, aqui é apenas um registro virtural de qual presente da lista você tem intenção de presentear!<br>
    </p>


    <div class="actions">


      <button
        class="cancel"
        (click)="closeModal()">
        Cancelar
      </button>


      <button
        class="confirm"
        (click)="confirmGift()">
        🎁 Confirmar Escolha
      </button>


    </div>


  </div>


</div>
